@charset "utf-8";
body{
    font-family: 'noto sans kr';
    height: 100%;
}
#wrap{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    border:1px solid #000;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header h1{
    padding-left: 20px;
    padding-top:20px;
    font-size: 36px;
    font-weight: 700;
}
header h2{
    padding-right: 23px;
    padding-top:20px;
    font-size: 24px;
    font-weight: 700;
}
section h2{
   position: absolute;
   left: 80px;
   top: 80px;
}
article{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-bottom: 1000px;
    position: absolute;
    left: 700px;
    top: 80px;

}
article h2{
    font-size: 36px;
    font-weight: 500;
    top: 0px;
    position: absolute;
    left: 0px; 
}
.homepage h3{
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.homepage p{
    font-size: 24px;
    margin-top: 24px;
    font-weight: 500;
}
.contact p{
    margin-top: 24px;
}
.sns{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 24px;
}
.sns p{
   padding-right: 20px;
}
.skills{
    padding-top: 58px;
}
footer p{
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 478px;
}
